[project]
	description = AOSP_RRO
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/MFShujath
[access "refs/for/refs/*"]
	read = group user/MFShujath
	push = group user/MFShujath
	label-Code-Review = -2..+2 group user/MFShujath
	label-Verified = -1..+1 group user/MFShujath
	rebase = group user/MFShujath
	removeReviewer = group user/MFShujath
	submit = group user/MFShujath
[access "refs/heads/*"]
	read = group user/MFShujath
	create = group user/MFShujath
	push = +force group user/MFShujath
	pushMerge = group user/MFShujath
[access "refs/tags/*"]
	push = +force group user/MFShujath
	pushTag = group user/MFShujath
	pushSignedTag = group user/MFShujath
